.card {
  padding: 15px 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  &.active {
    box-shadow: 10px 10px 80px -68px var(--color-blue-2);
    border: 1px solid var(--color-blue-2);
    .heading {
      & > svg {
        color: var(--color-blue-2);
      }
    }
  }
  .heading {
    display: grid;
    grid-template-columns: 60px 100px 1fr;
    align-items: center;
    justify-items: baseline;
    span {
      color: var(--color-primary);
      font-family: var(--font-primary);
      font-weight: 500;
      font-size: 14px;
    }
    & > svg {
      justify-self: end;
    }
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
  }
  button {
    background: var(--color-primary);
    border: none;
    border-radius: 20px;
    padding: 2px 8px;
    color: white;
    font-family: var(--font-primary);
    svg {
      font-size: 10px;
      margin-right: 5px;
    }
    &.PAUSE {
      background-color: var(--color-dirty);
    }
    &.BLOCKED {
      background-color: var(--color-gray);
    }
  }

  .chips {
    cursor: pointer;
    span:hover {
      background-color: var(--color-blue-2-dark);
      color: white;
    }
    span {
      transition: all 300ms ease;
      font-family: var(--font-primary);
      background-color: var(--color-chips-bg);
      color: var(--color-blue-2);
      display: inline-block;
      padding: 4px 14px;
      border-radius: 20px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  table {
    width: 100%;
    th {
      font-family: var(--font-primary);
      font-size: 12px;
      text-align: left;
      font-weight: 300;
      padding-bottom: 10px;
      color: var(--color-gray);
      span {
        color: #333;
        font-weight: 500;
        border-bottom: 1px dashed #333;
      }
    }
    td {
        font-family: var(--font-secondary);
        font-weight: bold;
        svg {
            color: var(--color-blue-2);
            margin-right: 10px;
        }
    }
  }
  .paidTo {
    display: grid;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #f1f1f1;
    grid-template-columns: 50px 200px 1fr;
    align-items: center;
    span {
      font-family: var(--font-primary);
      color: #333;
    }
    span:first-child {
      font-size: 10px;
      margin-right: 10px;
      color: var(--color-gray);
    }
    span:last-child {
      justify-self: end;
      font-weight: 500;
    }
  }
}
