.content {
  padding: 10px;
  background: var(--color-primary-light);
  &__heading {
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr 100px 100px;
    grid-gap: 10px;
    align-items: center;
    h3 {
      font-family: var(--font-secondary);
      font-weight: bold;
      color: #333;
    }
    button {
      transition: all 300ms ease;
    }
    button svg {
      margin-right: 5px;
      font-size: 10px;
    }
    button:hover {
      opacity: 0.8;
    }
  }
  &__bonus {
    background-color: white;
    margin: 10px 0;
    padding: 20px 10px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
      "icon heading"
      "icon paragraph";
    align-items: center;
    grid-template-columns: 60px 1fr;
    .icon {
      grid-area: icon;
      justify-self: center;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-blue-2);
      border-radius: 60px;
      font-size: 20px;
      background: var(--color-primary-light);
    }
    h3 {
      grid-area: heading;
      font-family: var(--font-primary);
      font-weight: bold;
      color: #333;
      margin-left: 10px;
    }
    p {
      grid-area: paragraph;
      font-family: var(--font-secondary);
      color: #999;
      margin-left: 10px;
    }
  }
}
